/* ==========================================================================
   # Colors and backgrounds utilities
   ========================================================================== */

.u-color-white { color: $color-white; }
.u-color-black { color: $color-black; }
.u-color-bg-white { background-color: $color-white; }
.u-color-bg-black { background-color: $color-black; }

.u-color-blue {color: $color-blue;}
.u-color-green {color: $color-green;}
.u-color-orange {color: $color-orange;}
.u-color-red {color: $color-red;}
.u-color-accent-blue {color: $color-accent-blue;}

.u-color-bg-blue {background-color: $color-blue;}
.u-color-bg-green {background-color: $color-green;}
.u-color-bg-orange {background-color: $color-orange;}
.u-color-bg-red {background-color: $color-red;}
.u-color-bg-accent-blue {background-color: $color-accent-blue;}

.u-color-bg-gray1 {background-color: $color-gray1;}
.u-color-text-secondary {color: $color-gray4;}
